.DS_Store
local.properties
.gradle/2.10/taskArtifacts/cache.properties
.gradle/2.10/taskArtifacts/cache.properties.lock
.gradle/2.10/taskArtifacts/fileHashes.bin
.gradle/2.10/taskArtifacts/fileSnapshots.bin
.gradle/2.10/taskArtifacts/outputFileStates.bin
.gradle/2.10/taskArtifacts/taskArtifacts.bin
.idea/gradle.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/animated_vector_drawable_23_2_1.xml
.idea/libraries/appcompat_v7_23_2_1.xml
.idea/libraries/cardview_v7_23_2_1.xml
.idea/libraries/design_23_2_1.xml
.idea/libraries/espresso_core_2_2_2.xml
.idea/libraries/espresso_idling_resource_2_2_2.xml
.idea/libraries/exposed_instrumentation_api_publish_0_5.xml
.idea/libraries/hamcrest_integration_1_3.xml
.idea/libraries/hamcrest_library_1_3.xml
.idea/libraries/javawriter_2_1_1.xml
.idea/libraries/javax_annotation_api_1_2.xml
.idea/libraries/javax_inject_1.xml
.idea/libraries/jsr305_2_0_1.xml
.idea/libraries/mediarouter_v7_23_0_0.xml
.idea/libraries/palette_v7_23_2_1.xml
.idea/libraries/play_services_ads_8_4_0.xml
.idea/libraries/play_services_analytics_8_4_0.xml
.idea/libraries/play_services_appindexing_8_4_0.xml
.idea/libraries/play_services_appstate_8_4_0.xml
.idea/libraries/play_services_auth_8_4_0.xml
.idea/libraries/play_services_basement_8_4_0.xml
.idea/libraries/play_services_drive_8_4_0.xml
.idea/libraries/play_services_fitness_8_4_0.xml
.idea/libraries/play_services_games_8_4_0.xml
.idea/libraries/play_services_identity_8_4_0.xml
.idea/libraries/play_services_maps_8_4_0.xml
.idea/libraries/play_services_measurement_8_4_0.xml
.idea/libraries/play_services_safetynet_8_4_0.xml
.idea/libraries/play_services_wearable_8_4_0.xml
.idea/libraries/recyclerview_v7_23_2_1.xml
.idea/libraries/rules_0_5.xml
.idea/libraries/runner_0_5.xml
.idea/libraries/support_annotations_23_2_1.xml
.idea/libraries/support_v4_23_2_1.xml
.idea/libraries/support_vector_drawable_23_2_1.xml
.idea/libraries/wearable_1_0_0.xml
.idea/libraries/wearable_1_3_0.xml
androiddemowear/androiddemowear.iml
app/app.iml
gradle/.DS_Store
gradle/wrapper/.DS_Store
.idea
demolibrary.iml
build
